{% set side_bar = [
  
  (url_for('organisation.project_dashboard', project_id=active_project, organisation=g.active_organisation), 'ni ni-tv-2 text-primary', 'Dashboard'),
  (url_for('organisation.project_events_dashboard', project_id=active_project, organisation=g.active_organisation), 'fa fa-layer-group text-primary', 'Events'),
] -%}
<!-- Sidenav -->
<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header align-items-center">
      <a class="navbar-brand" href="javascript:void(0)">
        <!-- <img src="../assets/img/brand/blue.png" class="navbar-brand-img" alt="Trail"> -->
        <h1>Trail</h1>
      </a>
    </div>
    <hr />
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">

        <h5 class="text-uppercase text-muted mb-2 px-2">Organisation</h5>
        <div class="row justify-content-center my-2">
          <div class="col-12 media align-items-center">
            <span class="avatar rounded-circle">
              <img src="{{ url_for('organisation.upload_file',filename='logos/'+ g.active_organisation) }}">
            </span>
            <div class="media-body ml-2">
              <h3 class=" text-primary">{{ g.orgs[g.active_organisation]["name"] }} </h3>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <a class="btn btn-icon btn-outline-secondary btn-sm"
              href="{{ url_for('organisation.view_organisation',slug=g.active_organisation) }}">
              <span class="btn-inner--icon"><i class="fa fa-eye"></i></span>
              <span class="btn-inner--text">View</span>
            </a>
          </div>
          <div class="col">
            <button class="btn btn-icon btn-outline-secondary btn-sm m-0" type="button" id="switchOrgButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

              <span class="btn-inner--icon">
                <i class="fa fa-exchange-alt"></i>
              </span>

              <span class="btn-inner--text">Switch</span>
            </button>

            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="switchOrgButton">
              <h6 class="dropdown-header">Select an organisation</h6>
              {% for organisation_slug in g.orgs %}
              <a class="dropdown-item"
                href="{{ url_for('organisation.view_organisation', slug=organisation_slug) }}">{{ g.orgs[organisation_slug]["name"] }}</a>
              {% endfor %}
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{ url_for('organisation.new_organisation') }}">
                <i class="fa fa-plus"></i>
                Create new
              </a>

            </div>
          </div>
        </div>

        <hr>
        {% if show_select_project_dropdown %}
        <h5 class="text-uppercase text-muted mb-2 px-2">Project</h5>

        <div class="dropdown">
          <button class="btn bg-white btn-block dropdown-toggle" type="button" id="projectDropdownButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ active_project }}
          </button>
          <div class="dropdown-menu" aria-labelledby="projectDropdownButton">
            <h6 class="dropdown-header">Switch project</h6>
            {% for project in g.orgs[g.active_organisation]["projects"] %}
            <a class="dropdown-item"
              href="{{ url_for(request.endpoint, project_id=project, organisation=g.active_organisation) }}">{{ project }}</a>
            {% endfor %}
          </div>
        </div>

        <!-- Nav items -->
        <ul class="navbar-nav">
          {% for href, icon, caption in side_bar %}
          <li class="nav-item">
            <a class="nav-link {% if caption == active_page %} active {% endif %}" href="{{ href }}">
              <i class="{{ icon }}"></i>
              <span class="nav-link-text"> {{ caption }}</span>
            </a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}

      </div>
    </div>
  </div>
</nav>