{% set active_project = g.active_project or "" %}

<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <title>
      {% block title %}{% endblock %}
   </title>
   <link rel="icon" href="{{ url_for('static', filename='assets/img/brand/favicon.png') }} " type="image/png">
   <!-- Fonts -->
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
   <!-- Icons -->
   <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/nucleo/css/nucleo.css') }}" type="text/css">
   <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/@fortawesome/fontawesome-free/css/all.min.css') }}"
      type="text/css">
   <!-- Page plugins -->
   <!-- Argon CSS -->
   <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap/bootstrap.min.css') }}" type="text/css">

   <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/argon.css') }}" type="text/css">
   {% block extra_css %}{% endblock %}

</head>

<body>
   <!-- Sidebar -->
   {% include "partials/sidebar.html" %}

   <!-- Main content -->
   <div class="main-content" id="panel">
      <!-- Topnav -->
      {% include "partials/signed_in_top_nav.html" %}

      {% block content %}{% endblock %}
   </div>

   <!-- Argon Scripts -->
   <!-- Core -->
   <script src="{{ url_for('static', filename='assets/vendor/jquery/dist/jquery.min.js') }}"></script>
   <script src="{{ url_for('static', filename='assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
   <script src="{{ url_for('static', filename='assets/vendor/js-cookie/js.cookie.js') }}"></script>
   <script src="{{ url_for('static', filename='assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js') }}"></script>
   <script src="{{ url_for('static', filename='assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js') }}"></script>
   <!-- Optional JS -->
   <script src="{{ url_for('static', filename='assets/vendor/chart.js/dist/Chart.min.js') }}"></script>
   <script src="{{ url_for('static', filename='assets/vendor/chart.js/dist/Chart.extension.js') }}"></script>
   <script src="{{ url_for('static', filename='assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
   <!-- Argon JS -->
   <script src="{{ url_for('static', filename='assets/js/argon.js') }}"></script>

   <!-- Trail App analytics -->
   <script src="https://sivagirivisakan.github.io/trail-app/trail-client.js"></script>
   <script>
   trailApp.init("7ba0117a3927424b990efc587d7ac8d7");
   </script>

   {% block extra_js %}{% endblock %}
</body>

</html>
