{% extends "layouts/organisation_base_layout.html" %}

{% block title %}Organisation - Trail{% endblock %}

{% block content %}
    <!-- Header -->
    <!-- Header -->
    <div class="header pb-6 d-flex align-items-center" style="min-height: 500px; background-image: url(../assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
          <div class="col-lg-7 col-md-10">
            <h1 class="display-2 text-white">Hello Jesse</h1>
            <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col-xl-8 order-xl-1">
          <div class="card">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Workspace </h3>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form>
                <div class="card text-white bg-primary mb-3" style="max-height: 5rem">
                  <div class="card-body">
                    <h2 class="card-title"><a href="#">Organisation</a></h2>
                  </div>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a href="#">Project 1</a></li>
                  <li class="list-group-item"><a href="#">Project 2</a></li>
                  <li class="list-group-item"><a href="#">Create New Project</a></li>
                </ul>
                <hr class="my-4" />

                <div class="card text-white bg-primary mb-3" style="max-height: 5rem">
                  <div class="card-body">
                    <h2 class="card-title"><a href="#">Organisation</a></h2>
                  </div>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a href="#">Project 1</a></li>
                  <li class="list-group-item"><a href="#">Project 2</a></li>
                  <li class="list-group-item"><a href="#">Create New Project</a></li>
                </ul>
                <hr class="my-4" />
                <div class="card text-white bg-primary mb-3" style="max-height: 5rem">
                  <div class="card-body">
                    <h2 class="card-title"><a href="#">Organisation</a></h2>
                  </div>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a href="#">Project 1</a></li>
                  <li class="list-group-item"><a href="#">Project 2</a></li>
                  <li class="list-group-item"><a href="#">Create New Project</a></li>
                </ul>
                <hr class="my-4" />
                <div class="card text-white bg-primary mb-3" style="max-height: 5rem">
                  <div class="card-body">
                    <h2 class="card-title"><a href="#">Create New Organisation</a></h2>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}