{% extends "layouts/base_layout.html" %}

{% block title %}Home - Trail{% endblock %}

{% block content %}
<!-- Header -->
<div class="main-content" id="panel">
  <!-- Topnav -->
  {% include "partials/signed_in_top_nav.html" %}
</div>
<!-- Header -->
<div class="header pb-6 d-flex align-items-center" style="min-height: 500px; background: #566be8">
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Hello {{ user.first_name or ""}}!</h1>
        <p class="text-white mt-0 mb-5">This is your home page. You can see the workspaces that you're part of and
          your projects here.</p>
      </div>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row justify-content-md-center">
    <div class="col-xl-8 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Workspaces</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="card">
            <div class="card-header">
              <h2 class="text-primary"><a href="#">Workspace Name</a>
                <button type="button" class="btn btn-sm btn-outline-primary ml-3" data-toggle="tooltip"
                  data-placement="bottom" title="Create new project">
                  <i class="fas fa-plus"></i>
                </button></h2>

            </div>

            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="#" class="text-underline text-default">Project 1</a></li>
                <li class="list-group-item"><a href="#" class="text-underline text-default">Project 1</a></li>

              </ul>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h2 class="text-primary"><a href="#">Workspace Name</a>
                <button type="button" class="btn btn-sm btn-outline-primary ml-3" data-toggle="tooltip"
                  data-placement="bottom" title="Create new project">
                  <i class="fas fa-plus"></i>
                </button></h2>
            </div>

            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="#" class="text-underline text-default">Project 1</a></li>
                <li class="list-group-item"><a href="#" class="text-underline text-default">Project 1</a></li>
              </ul>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h2 class="text-primary"><a href="#">Workspace Name</a>
                <button type="button" class="btn btn-sm btn-outline-primary ml-3" data-toggle="tooltip"
                  data-placement="bottom" title="Create new project">
                  <i class="fas fa-plus"></i>
                </button></h2>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="#" class="text-underline text-default">Project 1</a></li>
                <li class="list-group-item"><a href="#" class="text-underline text-default">Project 1</a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}