{% extends "layouts/dashboard_base_layout.html" %}
{% set active_page = "Project home" %}
{% set show_select_project_dropdown = true %}

{% set template_context = {"project_id": project.project_id, "organisation": slug} %}
{% block title %}Home &middot; {{ project.project_id }} | Trail{% endblock %}

{% block content %}


<div class="header pb-6 d-flex align-items-center" style="min-height: 100px;
	background: url('/static/assets/images/project.svg') no-repeat var(--secondary);

	background-size: 30%;
	background-position: center right 15%">

	<!-- Header container -->
	<div class="container-fluid">
		<div class="row">

			<nav aria-label="breadcrumb" class="ml-md-4 my-3">
				<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
					<li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
					<li class="breadcrumb-item"><a href="{{ url_for('organisation.view_organisation',slug=g.active_organisation) }}">{{ g.active_organisation }}</a></li>
					<li class="breadcrumb-item active" aria-current="page">{{ active_project }}</li>
				</ol>
			</nav>

		</div>
		<div class="row">
			<div class="ml-4 col-lg-7 col-md-7 col-sm-6">
				<h3 class="display-3 text-primary"> {{ project.name }}</h3>
				<p class="text-dark mt-0 mb-5">
					This is home page of your project.
					<br>
					You can find the setup instructions for your project here.
					<br><br>
					You can find the analytics data from the <a href="{{ url_for('organisation.project_dashboard', organisation=slug, project_id=project.project_id)}}">dashboard</a>
				</p>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid mt-6">
	<div class="row justify-content-md-center">
		<div class="col-xl-8">

			<div class="card">
				<div class="card-body">
					<h4 class="card-title text-muted text-uppercase">
						Project details
						{% if show_results %}
						<a class="btn btn-outline-primary btn-sm ml-3 text-right"
							href="{{ url_for('organisation.edit_project', slug=slug, project_id=project.project_id)}}">
							<span class="btn-inner--icon">
								<i class="fas fa-pen"></i>
							</span>
							<span class="btn-inner--text">Edit</span>
						</a>
						{% endif %}
					</h4>
					<div class="card-text ml-3">
						<div class="row">
							<div class="col">
								<p class=" text-uppercase text-gray mb-0">
									Name
								</p>
								<h3 class="text-default font-weight-normal">
									{{ project.name }}
								</h3>
							</div>

							<div class="col">
								<p class=" text-uppercase text-gray mb-0">ID</p>
								<h3 class="text-default font-weight-normal">
									{{ project.project_id }}
								</h3>
							</div>
						</div>
						<div class="row mt-3">
							<div class="col">
								<p class=" text-uppercase text-gray mb-0">
									Description
								</p>
								<h3 class="text-default font-weight-normal">
									{{ project.description }}
								</h3>
							</div>
						</div>
					</div>
				</div>
			</div>

			
			{% if show_results %}
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text text-default">API Key</span>
				</div>

				<input type="text" class="form-control" placeholder="Recipient's username" aria-label="API Key" disabled
					value="{{ project.api_key }}">
				<div class="input-group-append">
					<button class="btn btn-outline-primary" data-toggle="modal" data-target="#generateAPI" type="button">Re-generate</button>
				</div>
			</div>

			<div class="modal fade" id="generateAPI" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
    			<div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
        			<div class="modal-content bg-gradient-danger">
        	
            			<div class="modal-header">
                			<h6 class="modal-title" id="modal-title-notification">Your attention is required</h6>
                				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    				<span aria-hidden="true">×</span>
                				</button>
            			</div>
            
            			<div class="modal-body">
            	
                			<div class="py-3 text-center">
                    			<i class="ni ni-bell-55 ni-3x"></i>
                    			<h4 class="heading mt-4">Are you sure want to change the API key</h4>
                    			<p>Changing the API key will require you to update the API key in your site to continue working.</p>
                			</div>
                
            			</div>
            
            			<div class="modal-footer">
            				<form action="{{ url_for('organisation.get_api',slug=g.active_organisation, project_id=active_project) }}" method="GET">
            					<button type="submit" class="btn btn-white">Ok, Got it</button>
            				</form>
                			<button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal">Close</button>
            			</div>
            
        			</div>
    			</div>			
    		</div>
    		{% endif %}

			<div class="card">
				<div class="card-body">
					<h4 class="card-title text-muted text-uppercase">
						Setup info
					</h4>
					<p class="text-dark">
						To integrate Trail in your apps and to start getting analytics data, please follow these steps.
					</p>
					<ol>
						<li>
							Include the Trail JS script in your project. <br>
							<pre 
							class="mt-2">&lt;script src="{{ config["TRAIL_JS_CLIENT_URL"] }}"&gt;&lt;/script&gt;
							</pre>
						</li>
						<li class="mt-4">
							Set the project API key of this project and initialize the JS script.
							<pre class="mt-2">
&lt;script&gt;
	trailApp.init("{{ project.api_key }}");
&lt;/script&gt;</code>
							</pre>
						</li>

						<li>
							That's it! <i class="fa fa-check-circle text-success"></i>
							<br>
							Now, Trail should be able to record the analytics data for your site.
						</li>

					</ol>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}