{% extends "layouts/base_layout.html" %}

{% block title %}{{ organisation.name }} | Trail{% endblock %}

{% block content %}

<!-- Header -->
<div class="main-content" id="panel">
	<!-- Topnav -->
	{% include "partials/signed_in_top_nav.html" %}
</div>

<!-- Header -->
{% if show_results %}
<div class="header pb-6 d-flex align-items-center" style="min-height: 500px;
		  background: url('/static/assets/images/organisation.svg') no-repeat var(--secondary);
		  background-size: 35%;
		  background-position: center right 15%">

	<!-- Header container -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-1 col-1" style="min-width: 100px;">
				<img src="{{ url_for('organisation.upload_file',filename=organisation.logo) }}" 
				class="rounded-circle p-2" height="100px" width="100px">
			</div>

			<div class="col-lg-7 col-md-7 col-sm-6">
				<h3 class="display-2 text-primary"> {{ organisation.name }}</h3>
				<h4 class="display-4 text-dark"> {{ organisation.slug }}</h4>
				<p class="text-dark mt-0 mb-5">
					This is your organisation page. You can view the organisation members,
					projects etc.
				</p>
				<a href="{{ url_for('organisation.edit_organisation',slug=organisation.slug) }}" class="btn btn-primary">Edit details</a>
			</div>
		</div>
		<div class="row">

		</div>
	</div>
</div>
<div class="container-fluid mt-6">
	<div class="row justify-content-md-center">
		<div class="col-xl-8">

			<div class="card">
				<div class="card-body">
					<h3 class="card-title">Projects</h3>
					<p class="card-text">Placeholder for projects list</p>
				</div>
			</div>


			<div class="card">
				<div class="card-body">
					<h3 class="card-title">
						Members
						<button type="button" class="btn btn-outline-success btn-sm" data-toggle="modal"
							data-target="#addMemberModal">
							<span class="btn-inner--icon">
								<i class="fas fa-plus"></i>
							</span>
							<span class="btn-inner--text">Add member</span>
						</button>

					</h3>
					<div class="table-responsive">
						<table class="table align-items-center table-flush">
							<tbody>
								{% for member in organisation.members %}

								<tr>
									<td>
										{{ member }}
									</td>
									<td>
										<a href="{{ url_for('organisation.remove_member', slug=organisation.slug,member_name=member) }}" class="btn btn-outline-danger btn-sm">Remove</a>
									</td>
								</tr>

								{% endfor %}

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="addMemberModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					{% include "partials/flashed_messages.html" %}
					<form action="{{ url_for('organisation.view_organisation',slug=organisation.slug) }}" method="POST" role="form">
						<div class="form-group">
        					<label for="member-name-input" class="form-control-label">Username</label>
        					<input class="form-control" name="username" type="text" id="member-name-input">
 					   </div>
 
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</form>
			</div>
		</div>
	</div>
	<!-- <div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog" +>
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Add Member</h4>
				</div>
				<form role="form" action="{{ url_for('organisation.view_organisation',slug=organisation.slug) }}"
					method="POST">
					<div class="modal-body">
						<input type="text" name="username" placeholder="username">
					</div>
				</form>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary" data-dismiss="modal">Add</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div> -->
</div>
{% else %}
<!-- Header -->
<div class="header pb-6 d-flex align-items-center" style="min-height: 500px;
		  background: url('/static/assets/images/organisation.svg') no-repeat var(--secondary);
		  background-size: 35%;
		  background-position: center right 15%">

	<!-- Header container -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-1 col-1" style="min-width: 100px;">
				<img src="{{ url_for('organisation.upload_file',filename=organisation.logo) }}" 
				class="rounded-circle p-2" height="100px" width="100px">
			</div>

			<div class="col-lg-7 col-md-7 col-sm-6">
				<h3 class="display-2 text-primary"> {{ organisation.name }}</h3>
				<h4 class="display-4 text-dark"> {{ organisation.slug }}</h4>
				<p class="text-dark mt-0 mb-5">
					This is your organisation page. You can view the organisation members,
					projects etc.
				</p>
			</div>
		</div>
		<div class="row">

		</div>
	</div>
</div>
<div class="container-fluid mt-6">
	<div class="row justify-content-md-center">
		<div class="col-xl-8">

			<div class="card">
				<div class="card-body">
					<h3 class="card-title">Projects</h3>
					<p class="card-text">Placeholder for projects list</p>
				</div>
			</div>


			<div class="card">
				<div class="card-body">
					<h3 class="card-title">
						Members

					</h3>
					<div class="table-responsive">
						<table class="table align-items-center table-flush">
							<tbody>
								{% for member in organisation.members %}

								<tr>
									<td>
										{{ member }}
									</td>
								</tr>

								{% endfor %}

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- <div class="modal fade" id="addMemberModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					...
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div> -->
	<!-- <div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog" +>
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Add Member</h4>
				</div>
				<form role="form" action="{{ url_for('organisation.view_organisation',slug=organisation.slug) }}"
					method="POST">
					<div class="modal-body">
						<input type="text" name="username" placeholder="username">
					</div>
				</form>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary" data-dismiss="modal">Add</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div> -->
</div>
{% endif %}
{% endblock %}